.dropdown:hover {
    display: block;
  }
  .mission-align{
    font-weight: 650;
  }
  .visa-align{
    font-weight: 650;
  }
  .gallery-align{
    font-weight: 650;
  }
  .about-align{
    font-weight: 650;
  }